<% content_for :title do %>
  Dashboard
<% end %>

<div class="container mt-5">

  <%= render 'header' %> <!-- Renderiza el partial de encabezado -->

  <h3>Your Resumes</h3>

  <div class="row resume-container">
    <% if @resumes.any? %>
      <% @resumes.each do |resume| %>
        <div class="col-md-4 mb-3">
          <div class="d-flex align-items-center p-3 border rounded bg-light">
  
      <i class="bi bi-file-earmark-text" style="font-size: 70px;"></i>

            <div class="ms-3">
              <h5 class="mb-1"><%= resume.nombre %></h5>
             <div>
  <a href="<%= edit_resume_path(resume) %>" class="btn btn-warning btn-sm me-1" title="Edit" data-turbo="false">
    <i class="bi bi-pencil-fill"></i> <!-- Icono de edición -->
  </a>
  
  <button class="btn btn-danger btn-sm me-1 delete-resume" data-id="<%= resume.id %>" title="Delete Resume">
    <i class="bi bi-trash-fill delete-resume"  data-id="<%= resume.id %>"></i> <!-- Icono de eliminación -->
  </button>
  
  <button class="btn btn-success btn-sm downloadResume" data-id="<%= resume.id %>" title="Download">
    <i class="bi bi-download downloadResume" data-id="<%= resume.id %>" ></i> <!-- Icono de descarga -->
  </button>
  
  <a href="<%= resume_path(resume) %>" class="btn btn-info btn-sm me-1" title="View Resume" target="_blank">
    <i class="bi bi-eye-fill"></i> <!-- Icono de vista -->
  </a>
  
  <% if resume.hash_id.nil? %>
    <button type="button" class="btn btn-primary btn-sm me-1 generate-link" data-id="<%= resume.id %>" data-generate-link>
  <i class="bi bi-link-45deg generate-link" data-id="<%= resume.id %>"></i> <!-- Icono de generar enlace -->
  Generar enlace público
</button>

  <% else %>
    <button class="btn btn-info btn-sm me-1 copy-link-btn" data-url="<%= public_resume_url(resume.hash_id) %>" title="Copy Link">
      <i class="bi bi-files copy-link-btn" data-url="<%= public_resume_url(resume.hash_id) %>"></i> <!-- Icono de copiar -->
    </button>
  <% end %>
</div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="text-center col-12">No resumes found. Please create one!</div>
    <% end %>
  </div>

</div>

<%= render 'new_resume_modal' %> <!-- Renderiza el partial del modal -->
<%= render 'copy_toast' %> <!-- Renderiza el partial del toast -->

<%= javascript_include_tag 'resumes' %> <!-- Incluye el archivo JS para manejar las interacciones -->
