<h2 class="text-center my-4 text-primary font-weight-bold">Detalles del Currículum</h2>
<div class="text-center mb-4">
  <a href="<%= root_path %>" class="btn btn-outline-primary">
    <i class="bi bi-arrow-left"></i> Regresar
  </a>
</div>



<% if @resume.present? %>
  <input type="hidden" id="resumeId" value="<%= @resume.id %>">

  <div class="resume-details mb-4">
  
<div class="d-flex justify-content-center align-items-center p-3 mb-3" style="gap: 0.5rem;">
  <div class="text-center">
    <span><strong><%= @resume.user.first_name.present? ? @resume.user.first_name : 'Debe agregar datos en el campo First Name.' %></strong></span>
    <span><strong><%= @resume.user.last_name.present? ? @resume.user.last_name : 'Debe agregar datos en el campo Last Name.' %></strong></span>
  </div>
  <div class="text-center">
    <span><strong><%= @resume.user.occupation.present? ? @resume.user.occupation : 'Debe agregar datos en el campo Occupation.' %></strong></span>
  </div>
  <div class="text-center">
    <span><strong><%= @resume.user.email.present? ? @resume.user.email : 'Debe agregar datos en el campo Email.' %></strong></span>
  </div>
</div>


  <div class="m-5">
  <h3 class="d-flex justify-content-between align-items-center">
    Enlaces de Contacto
   <%= link_to "#", class: "btn  btn-sm btn-success", data: { "bs-toggle": "modal", "bs-target": "#contactLinkModal" } do %>
  <i class="bi bi-plus-lg"></i> <!-- Icono en vez de texto -->
<% end %>
  </h3>
  
  <div class="card p-3 mb-3">
    <% if @resume.contact_links.any? %>
      <ul class="mb-0">
        <% @resume.contact_links.each do |link| %>
          <li class="d-flex justify-content-between align-items-center mb-1">
            <!-- Mostrar el nombre como enlace -->
            <% if link.url.present? && link.platform.present? %>
              <a href="<%= link.url %>" target="_blank"><%= link.platform %></a>
            <% else %>
              Debe agregar datos en los campos Enlace de Contacto.
            <% end %>
            
            <!-- Botón Eliminar -->
            <button 
              type="button" 
              class="btn btn-danger btn-sm delete-contact-link" 
              data-id="<%= link.id %>">
              <i class="bi bi-trash3"></i>
            </button>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No hay enlaces de contacto registrados.</p>
    <% end %>
  </div>


  <h3 class="d-flex justify-content-between align-items-center">
    Habilidades
<%= link_to "#", class: "btn btn-sm btn-success", data: { "bs-toggle": "modal", "bs-target": "#skillModal" } do %>
  <i class="bi bi-plus-lg"></i> <!-- Icono en vez de texto -->
<% end %>
  </h3>
<div class="card p-3 mb-3">
  <% if @resume.skills.any? %>
    <h5>Habilidades Técnicas</h5>
    <ul>
      <% @resume.skills.where(skill_type: 0).each do |skill| %>
        <li class="d-flex justify-content-between align-items-center mb-1">
          <span>
            <%= skill.name.present? ? skill.name : 'Debe agregar datos en el campo Habilidad.' %>
          </span>
          <button 
            type="button" 
            class="btn btn-danger btn-sm delete-skill" 
            data-id="<%= skill.id %>" >
           <i class="bi bi-trash3"></i>
          </button>
        </li>
      <% end %>
    </ul>
    
    <h5>Habilidades Blandas</h5>
    <ul>
      <% @resume.skills.where(skill_type: 1).each do |skill| %>
        <li class="d-flex justify-content-between align-items-center mb-1">
          <span>
            <%= skill.name.present? ? skill.name : 'Debe agregar datos en el campo Habilidad.' %>
          </span>
          <button 
            type="button" 
            class="btn btn-danger btn-sm delete-skill" 
            data-id="<%= skill.id %>" >
            <i class="bi bi-trash3"></i>
          </button>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No hay habilidades registradas.</p>
  <% end %>
</div>


  <h3 class="d-flex justify-content-between align-items-center">
    Proyectos
<%= link_to "#", class: "btn btn-sm btn-success ", data: { "bs-toggle": "modal", "bs-target": "#projectModal" } do %>
  <i class="bi bi-plus-lg"></i> <!-- Icono en vez de texto -->
<% end %>


  </h3>
<div class="card p-3 mb-3">
  <% if @resume.projects.any? %>
    <div class="row">
      <% @resume.projects.each do |project| %>
        <div class="">
          <div class="card mb-1">
            <div class="card-body">
              <!-- Contenedor para el título y el botón de eliminar alineados horizontalmente -->
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">
                  <% if project.title.present? %>
                    <a href="<%= project.url %>" target="_blank"><%= project.title %></a>
                  <% else %>
                    Debe agregar datos en el campo Proyecto.
                  <% end %>
                </h5>
                <button 
                  type="button" 
                  class="btn btn-danger btn-sm delete-project" 
                  data-id="<%= project.id %>">
                   <i class="bi bi-trash3"></i>
                </button>
              </div>

              <!-- Descripción del proyecto -->
              <p class="card-text mt-2">
                <%= project.description.present? ? project.description : 'Descripción no disponible.' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No hay proyectos registrados.</p>
  <% end %>
</div>


  <h3 class="d-flex justify-content-between align-items-center">
    Experiencia Laboral
<%= link_to "#", class: "btn btn-sm btn-success", data: { "bs-toggle": "modal", "bs-target": "#experienceModal" } do %>
  <i class="bi bi-plus-lg"></i> <!-- Icono en vez de texto -->
<% end %>

  </h3>
    <div class="card p-3 mb-3">
  <% if @resume.experiences.any? %>
    <div class="row">
      <% @resume.experiences.each do |experience| %>
        <div >
          <div class="card mb-1">
            <div class="card-body">
              <!-- Título del trabajo y botón de eliminar alineados -->
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">
                  <%= experience.job_title.present? ? experience.job_title : 'Debe agregar datos en el campo Experiencia.' %>
                </h5>
                <button 
                  type="button" 
                  class="btn btn-danger btn-sm delete-experience" 
                  data-id="<%= experience.id %>">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>

              <!-- Empresa -->
              <p class="card-subtitle text-muted mt-1"><%= experience.company %></p>

              <!-- Fechas de inicio y fin -->
              <p class="card-text">
                <small class="text-muted">
                  <%= experience.start_date.strftime('%B %Y') %> - <%= experience.end_date.strftime('%B %Y') %>
                </small>
              </p>

              <!-- Descripción de la experiencia -->
              <p class="card-text">
                <%= experience.description.present? ? experience.description : 'Descripción no disponible.' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No hay experiencias registradas.</p>
  <% end %>
</div>

</div> 
<% else %>
  <p>No se encontró el currículum.</p>
<% end %>


<%= render 'contact_link_modal' %>
<%= render 'skill_modal' %>
<%= render 'project_modal' %>
<%= render 'experience_modal' %>



<%= javascript_include_tag 'contactLink' %>
<%= javascript_include_tag 'experience' %>
<%= javascript_include_tag 'projects' %>
<%= javascript_include_tag 'skill' %>